@import url("https://fonts.googleapis.com/css?family=Poppins:400,600&subset=latin-ext");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: $ff-base;
  font-size: $fz-base;
  font-weight: $fw-300;
  letter-spacing: 0.02em;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.btn {
  outline: none;
  text-decoration: none;
}

.content-section {
  @include psa(50px, 50px, 50px, 50px);

  display: flex;
  overflow-y: scroll;
  padding: 20px;
  border-radius: 12px;
  background: rgba($c-white, 0.8);
  transform: translateZ(0);
  box-shadow: 1px 1px 40px rgba($c-black, 0.4);
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &--no-flex {
    display: block;
    text-align: center;
  }
}
