@mixin psa($top: false, $right: false, $bottom: false, $left: false) {
  position: absolute;

  @if $top {
    top: $top;
  }

  @if $right {
    right: $right;
  }

  @if $bottom {
    bottom: $bottom;
  }

  @if $left {
    left: $left;
  }
}

@mixin base-gradient($direction) {
  /* stylelint-disable-next-line declaration-colon-newline-after */
  background: linear-gradient(
    $direction,
    rgba(33, 213, 253, 1) 0%,
    rgba(185, 33, 255, 1) 100%
  );
}
