<template>
  <router-link
    :class="[
      {
        'btn--disabled': isDisabled,
        [`btn--${type}`]: true
      },
    ]"
    :to="linkTo"
    class="btn"
  >
    <span class="btn-label">{{ label }}</span>
    <slot/>
  </router-link>
</template>

<script>
export default {
  name: "BaseLink",
  props: {
    type: {
      type: String,
      required: false,
      default: "primary"
    },
    label: {
      type: String,
      required: false,
      default: ""
    },
    linkTo: {
      type: Object,
      required: true
    },
    isSecondary: {
      type: Boolean,
      default: false
    },
    isDisabled: {
      type: Boolean,
      default: false
    }
  }
};
</script>

<style lang="scss" scoped>
.btn {
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 5px;
  padding: 14px 36px 13px;
  font-weight: $fw-300;
  text-align: center;
  text-transform: uppercase;
  border-radius: 30px;
  opacity: 1;
  transition: opacity $cubic-transition 0.3s;
}

.btn--disabled {
  opacity: 0.6;
  pointer-events: none;
}

.btn--primary {
  color: $c-white;
  box-shadow: 0 3px 8px rgba($c-black, 0.5);

  &::before {
    @include base-gradient(to right);
    @include psa(0, -1px, 0, -1px);

    border-radius: 30px;
    content: "";
  }

  &::after {
    @include psa(0, 0, 0, 0);

    border-radius: 30px;
    content: "";
    background: rgba($c-black, 0.3);
    opacity: 0;
    transform: scale(0.9) translateZ(0);
    transition-property: transform, opacity;
    transition-timing-function: $cubic-transition;
    transition-duration: 0.3s;
  }

  &:hover {
    &::after {
      opacity: 1;
      transform: scale(1) translateZ(0);
    }
  }
}

.btn--secondary {
  color: $c-gray;

  &::before {
    @include psa(0, -1px, 0, -1px);
    @include base-gradient(to right);

    border-radius: 30px;
    content: "";
    opacity: 0;
    transform: scale(0.9);
    transition-property: transform, opacity;
    transition-timing-function: $cubic-transition;
    transition-duration: 0.3s;
  }

  &:hover {
    &::before {
      opacity: 0.3;
      transform: scale(1);
    }
  }
}

.btn-label {
  position: relative;
  z-index: $z1;
}
</style>
