<template>
  <section class="content-section content-section--no-flex">
    <div class="content-section__top">
      <h1 class="cta__title">Complex results</h1>
      <BaseStatuses />
    </div>

    <DataTable
      v-if="data"
      :data="data"
    />
    <BaseButtons>
      <BaseLink
        :link-to="{name: 'form', params: {step: 1}}"
        label="Start again"
        @click.native="resetState"
      />

      <BaseLink
        :link-to="{name: 'results'}"
        type="secondary"
        label="Back"
      />
    </BaseButtons>
  </section>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

import DataTable from "@/components/DataTable/DataTable";
import BaseLink from "@/components/BaseLink/BaseLink";
import BaseButtons from "@/components/BaseButtons/BaseButtons";
import BaseStatuses from "@/components/BaseStatuses/BaseStatuses";

export default {
  name: "ComplexResults",
  components: { DataTable, BaseLink, BaseButtons, BaseStatuses },
  data() {
    return {
      fetchingData: false
    };
  },
  computed: {
    ...mapGetters({
      hasAllDataForRequest: "hasAllDataForRequest",
      data: "fetchComplexData"
    })
  },
  methods: {
    ...mapActions({
      resetState: "resetState"
    })
  }
};
</script>

<style lang="scss" scoped>
.content-section__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
</style>
