<template>
  <section class="content-section">
    
    <BaseText 
      :text="introText"
      is-dark
      is-intro
    />
    <form 
      class="form"
      @submit.prevent>
      <keep-alive>
        <component :is="dynamicComponent"/>
      </keep-alive>
    </form>

    <BaseButtons>
      <BaseLink
        v-if="formStep !== 3"
        :link-to="nextFormStep"
        :is-disabled="!displayNextButton"
        label="Next question"
      />

      <BaseLink
        v-if="formStep === 3"
        :link-to="{name: 'results'}"
        :is-disabled="!hasAllDataForRequest"
        label="See result"
      />

      <BaseLink
        v-if="displayBackButton"
        :link-to="previuosFormStep"
        type="secondary"
        label="Back"
      />
    </BaseButtons>
  </section>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

import StepOne from "@/components/formSteps/StepOne";
import StepTwo from "@/components/formSteps/StepTwo";
import StepThree from "@/components/formSteps/StepThree";

import BaseLink from "@/components/BaseLink/BaseLink";
import BaseButtons from "@/components/BaseButtons/BaseButtons";
import BaseText from "@/components/BaseText/BaseText";

export default {
  components: {
    StepOne,
    StepTwo,
    StepThree,
    BaseLink,
    BaseButtons,
    BaseText
  },
  beforeRouteUpdate(to, from, next) {
    this.updateFormStep(Number(to.params.step));
    next();
  },
  computed: {
    ...mapGetters({
      formStep: "currentFormStep",
      formData: "formData",
      hasAllDataForRequest: "hasAllDataForRequest"
    }),
    dynamicComponent() {
      switch (this.formStep) {
        case 2:
          return "StepTwo";
        case 3:
          return "StepThree";
        default:
          return "StepOne";
      }
    },
    nextFormStep() {
      const step = this.formStep + 1 <= 3 ? this.formStep + 1 : this.formStep;
      return this.formStepRouteObject(step);
    },
    previuosFormStep() {
      const step = this.formStep - 1 >= 1 ? this.formStep - 1 : this.formStep;
      return this.formStepRouteObject(step);
    },
    displayBackButton() {
      return this.formStep > 1;
    },
    displayNextButton() {
      const step = this.formStep;
      const data = this.formData;
      if (
        (step === 1 && data.quality.length) ||
        (step === 2 && data.ticketSellAmount.length)
      ) {
        return true;
      }
      return false;
    },
    introText() {
      switch (this.formStep) {
        case 2:
          return "How many tickets do you estimate to sell?";
        case 3:
          return "How much do you plan to charge per ticket for your Live PPV event?";
        default:
          return "What level of streaming quality are you aiming for?";
      }
    }
  },
  methods: {
    ...mapActions(["updateFormStep"]),
    formStepRouteObject(step) {
      return { name: "form", params: { step } };
    }
  }
};
</script>

<style lang="scss" scoped>
.form {
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>
