<template>
  <div class="cta-hld">
    <h1 
      :html="title" 
      class="cta__title">{{ title }}</h1>
    
    <BaseText 
      :text="text"
      class="cta_text" />
      
    <div class="cta__btn-hld">
      <BaseLink
        :classes="['myClass']"
        :link-to="{name: 'form', params: {step: 1}}"
        label="Give it a try!" />
    </div>
  </div>
</template>

<script>
import BaseLink from "@/components/BaseLink/BaseLink";
import BaseText from "@/components/BaseText/BaseText";

export default {
  name: "Home",
  components: {
    BaseLink,
    BaseText
  },
  data() {
    return {
      title: "Live PPV Event ROI Calculator",
      text:
        "Ever wondered how much money you can generate with the Live Pay-Per-View model? Based on our experience in managing over 10,000 PPV events per year, we created this unique ROI calculator for you."
    };
  }
};
</script>

<style lang="scss" scoped>
.cta-hld {
  display: flex;
  max-width: 768px;
  height: 100%;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cta__title {
  font-size: $fz-b;
  text-align: center;
  color: $c-white;
}

.cta_text {
  margin-bottom: 50px;
  line-height: 1.2;
  text-align: center;
}
</style>
