<template>
  <section class="content-section">
    <h1 class="cta__title">Results</h1>
    
    <BaseStatuses />

    <DataTable
      v-if="data"
      :data="data"
    />

    <BaseButtons>
      <BaseLink
        :link-to="{name: 'complex-results'}"
        label="Find out more!" />

      <BaseLink
        :link-to="{name: 'form', params: {step: 3}}"
        type="secondary"
        label="Back"
      />
    </BaseButtons>
  </section>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

import DataTable from "@/components/DataTable/DataTable";
import BaseLink from "@/components/BaseLink/BaseLink";
import BaseButtons from "@/components/BaseButtons/BaseButtons";
import BaseStatuses from "@/components/BaseStatuses/BaseStatuses";

export default {
  name: "Results",
  components: { DataTable, BaseLink, BaseButtons, BaseStatuses },
  data() {
    return {
      fetchingData: false
    };
  },
  computed: {
    ...mapGetters({
      hasAllDataForRequest: "hasAllDataForRequest",
      formData: "formData",
      data: "fetchBaseData"
    })
  },
  created() {
    if (!this.hasAllDataForRequest) return;
    this.fetchData(this.formData);
  },
  methods: {
    ...mapActions(["fetchData"])
  }
};
</script>

<style lang="scss" scoped>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
