<template>
  <div class="buttons-hld">
    <slot/>
  </div>
</template>

<script>
export default {
  name: "BaseButtons"
};
</script>

<style lang="scss" scoped>
.buttons-hld {
  display: flex;
  margin-top: 30px;
  transform: translateZ(0);
  justify-content: center;
}
</style>
