$c-accent: #21d4fd;
$c-accent-sec: #6e5dd8;
$c-gray: #333;
$c-content: $c-gray;
$c-succes: #43b05c;
$c-black: #000;
$c-white: #fff;
$c-table-border: #c7c7c7;
$c-table-row: #efefef;
$c-error: #f03;
$c-warning: #ffc107;
$c-warning-dark: darken($c-warning, 10%);
$c-info: #007bff;
