@import "colors.scss";
@import "animations.scss";

$ff-base: "Poppins", sans-serif;

$fz-base: 16px;
$fz-b: 2.4em;
$fz-m: 1.4em;
$fz-s: 1.2em;

$fw-300: 300;
$fw-600: 600;

$z-1: -1;
$z1: 1;
$z10: 10;
