<template>
  <fieldset class="form-input-hld">
    <div  
      v-for="streamOption in streamQuality"
      :key="streamOption.key"
      :class="['radio-input-hld', {active: streamOption.key == selectedQuality}]"
    >
      <input 
        :id="streamOption.key" 
        :name="streamOption.key" 
        :value="streamOption.key" 
        v-model="selectedQuality" 
        type="radio"
        class="sr-only radio-input__controll"
      >
      <label 
        :for="streamOption.key" 
        :class="['radio-input__label', {active: streamOption.key == selectedQuality}]"
      >{{ streamOption.label }}</label>
    </div>
  </fieldset>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  computed: {
    ...mapGetters({
      streamQuality: "streamQuality",
      quality: "formQuality"
    }),
    selectedQuality: {
      get() {
        return this.quality;
      },
      set(value) {
        this.updateFormData({ quality: value });
      }
    }
  },
  methods: {
    ...mapActions(["updateFormData"])
  }
};
</script>

<style lang="scss" scoped>
.form-input-hld {
  display: inline-block;
  border: 0;
}

.radio-input-hld {
  position: relative;
  margin: 10px 0;
  font-size: $fz-s;
  font-weight: $fw-300;
  line-height: 1.2;
  color: $c-content;
  cursor: pointer;

  &.active {
    &::after {
      opacity: 1;
    }
  }

  &::before,
  &::after {
    @include psa(0, auto, 0, 0);

    margin: auto;
    border-radius: 50%;
    content: "";
  }

  &::before {
    width: 16px;
    height: 16px;
    background: $c-white;
    box-shadow: 1px 1px 5px rgba($c-black, 0.5);
  }

  &::after {
    left: 3px;
    width: 10px;
    height: 10px;
    background: $c-accent-sec;
    opacity: 0;
    transition: opacity ease-in 0.2s;
  }
}

.radio-input__label {
  position: relative;
  z-index: $z10;
  padding-left: 30px;
}
</style>
