<template>
  <BaseInput
    v-model="amount"
    type="number" 
    placeholder="19,99"
  />
</template>

<script>
import { mapActions, mapGetters } from "vuex";

import BaseInput from "@/components/BaseInput/BaseInput";

export default {
  components: { BaseInput },
  computed: {
    ...mapGetters({
      ticketCharge: "formTicketCharge"
    }),
    amount: {
      get() {
        return this.ticketCharge;
      },
      set(value) {
        this.updateFormData({ ticketChargeAmount: value });
        this.updateAllFormDataState({ hasAllDataForRequest: true });
      }
    }
  },
  methods: {
    ...mapActions(["updateFormData", "updateAllFormDataState"])
  }
};
</script>
