<template>
  <BaseInput
    v-model="amount"
    type="number" 
    placeholder="15,000"
  />
</template>

<script>
import { mapActions, mapGetters } from "vuex";

import BaseInput from "@/components/BaseInput/BaseInput";

export default {
  components: { BaseInput },
  computed: {
    ...mapGetters({
      ticketSell: "formTicketSell"
    }),
    amount: {
      get() {
        return this.ticketSell;
      },
      set(value) {
        this.updateFormData({ ticketSellAmount: value });
      }
    }
  },
  methods: {
    ...mapActions(["updateFormData"])
  }
};
</script>
