<template>
  <div
    class="form__input-hld">
    <input
      :type="type"
      :placeholder="placeholder"
      :value="value"
      class="form__input"
      @input="$emit('input', $event.target.value)"
    >
    <slot />
  </div>
</template>

<script>
export default {
  name: "BaseInput",
  props: {
    value: {
      type: [String, Number],
      default: ""
    },
    type: {
      type: String,
      required: true
    },
    placeholder: {
      type: String,
      default: ""
    }
  }
};
</script>

<style lang="scss" scoped>
.form__input {
  min-width: 250px;
  padding: 20px 20px;
  font-size: $fz-s;
  outline: none;
  text-align: right;
  border: 0;
  border-radius: 30px;
  transition: box-shadow $cubic-transition 0.2s;
  box-shadow: 0 4px 10px rgba($c-black, 0.3);

  &:focus,
  &:hover {
    box-shadow: 0 2px 5px rgba($c-black, 0.5);
  }
}
</style>
