<template>
  <div>
    <transition name="fade">
      <BaseStatusInfo 
        v-if="!hasAllDataForRequest" 
        is-warining>
        <h3>No data found 🤔<br>Please fill the form on previus steps</h3>
      </BaseStatusInfo>
    </transition>

    <transition name="fade">
      <BaseStatusInfo v-if="isFetchingData">
        <h3>Fetching your data. Please wait 😉</h3>
      </BaseStatusInfo>
    </transition>

    <transition name="fade">
      <BaseStatusInfo
        v-if="isFetchError"
        is-error
      >
        <h3>Ups...😯 Something went wrong.<br>Try again!</h3>
      </BaseStatusInfo>
    </transition>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

import BaseStatusInfo from "@/components/BaseStatusInfo/BaseStatusInfo";

export default {
  name: "BaseStatuses",
  components: { BaseStatusInfo },
  props: {},
  computed: {
    ...mapGetters({
      hasAllDataForRequest: "hasAllDataForRequest",
      isFetchingData: "isFetchingData",
      isFetchError: "isFetchError"
    })
  }
};
</script>
