<template>
  <div
    :class="[
      'status-box',
      {
        'status-box--warning': isWarining,
        'status-box--error': isError,
      }
    ]"
  >
    <slot/>
  </div>
</template>

<script>
export default {
  name: "BaseStatusInfo",
  props: {
    isWarining: {
      type: Boolean,
      required: false,
      default: false
    },
    isError: {
      type: Boolean,
      required: false,
      default: false
    }
  }
};
</script>

<style lang="scss" scoped>
.status-box {
  max-width: 400px;
  padding: 20px 30px;
  line-height: 1.6;
  text-align: center;
  border: 2px solid $c-info;
  border-radius: 12px;
  color: $c-info;
  background: rgba($c-info, 0.1);
  box-shadow: 0 3px 8px rgba($c-black, 0.5);

  &--warning {
    border-color: $c-warning;
    color: $c-warning-dark;
    background: rgba($c-warning, 0.1);
  }

  &--error {
    border-color: $c-error;
    color: $c-error;
    background: rgba($c-error, 0.1);
  }
}
</style>
