<template>
  <div class="app-body">
    <div class="app-container">
      <transition name="fade">
        <router-view/>
      </transition>
    </div>

    <div class="app-background"/>
  </div>
</template>

<style lang="scss">
@import "@/styles/normalize.scss";
@import "@/styles/base.scss";
@import "@/styles/helpers.scss";
@import "@/styles/typography.scss";
</style>

<style scoped lang="scss">
.app-body {
  display: flex;
  height: 100vh;
}

.app-container {
  width: 100%;
  max-width: 1280px;
  height: auto;
  margin: 0 auto;
  padding: 0 20px;
}

.app-background {
  @include psa(0, 0, 0, 0);

  z-index: $z-1;
  background: url("~@/assets/app_bg.jpg") center center no-repeat;
  background-size: cover;

  &::before {
    @include psa(0, 0, 0, 0);
    @include base-gradient(45deg);

    content: "";
    opacity: 0.8;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
