<template>
  <div 
    :class="`progress-bar--${steps}`"
    class="progress-bar">
    <div 
      v-for="(step,index) in steps"
      :key="index"
      class="progress-bar__step"/>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "ProgressBar",
  props: {
    classes: {
      type: [Array, String],
      required: false,
      default: () => [] || ""
    },
    steps: {
      type: Number,
      reguired: false,
      default: 3
    }
  },
  computed: {
    ...mapGetters({
      formStep: "currentFormStep"
    })
  }
};
</script>
