<template>
  <p
    :class="[
      'regular-text',
      {
        'regular-text--dark': isDark,
        'regular-text--intro': isIntro
      }
  ]">
    {{ text }}
  </p>
</template>

<script>
export default {
  name: "BaseText",
  props: {
    isDark: {
      type: Boolean,
      required: false,
      default: false
    },
    isIntro: {
      type: Boolean,
      required: false,
      default: false
    },
    text: {
      type: String,
      required: false,
      default: ""
    }
  }
};
</script>

<style lang="scss" scoped>
.regular-text {
  color: $c-white;

  &--dark {
    color: $c-black;
  }

  &--intro {
    margin-bottom: 20px;
    font-size: $fz-m;
  }
}
</style>
