<template>
  <div class="data-table-hld">
    <table class="data-table">
      <thead class="data-table__head">
        <tr class="data-table__row data-table__row--head">
          <th class="data-table__cell data-table__cell--head"/>
          <th class="data-table__cell data-table__cell--head">Home Grown</th>
          <th class="data-table__cell data-table__cell--head">Cleeng</th>
        </tr>
      </thead>

      <tbody class="data-table__body">
        <tr 
          v-for="row in data"
          :key="row.key"
          :class="[
            {'data-table__row--summary': row.summaryData},
            'data-table__row'
          ]"
        >
          <td class="data-table__cell">{{ row.title }}</td>
          <td class="data-table__cell">{{ row.values[0] }}</td>
          <td class="data-table__cell">{{ row.values[1] }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: "DataTable",
  props: {
    title: {
      type: String,
      required: false,
      default: ""
    },
    data: {
      type: Array,
      required: true
    }
  }
};
</script>

<style lang="scss" scoped>
.data-table-hld {
  display: flex;
  justify-content: center;
}

.data-table {
  padding: 20px;
  font-size: $fz-s;
  letter-spacing: 0.08em;
  border-radius: 12px;
  background: $c-white;
  box-shadow: 1px 1px 40px rgba($c-black, 0.2);
}

.data-table__cell {
  margin: 5px 0;
  padding: 12px 20px;
  text-align: center;
  border: 0;
  border-top: 1px solid $c-table-border;

  &:first-of-type {
    text-align: left;
  }

  &--head {
    margin-top: 0;
    border-top: 0;
  }
}

.data-table__row--summary {
  background: #efefef;

  .data-table__cell {
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: $fw-600;
  }
}
</style>
